:root{
    --green-theme: #28A745;
    --bg-main: #FFFFFF;
    --bg-blue: #0284D0;

    --text-color-main: #FFFFFF;
    --text-color-light-theme: #333333;
    --text-color-hero: #E9E9E9;

    --column-gap: 20px;
    --row-gap: 24px;
}

/* ========== Base styles ========== */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;

    
    background-color: var(--bg-main);
    color: var(--text-color-main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
}

img {
    display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ========== Components ========== */
.container {
/* outline: 2px solid tomato; */

width: 1360px;
margin-left: auto;
margin-right: auto;
padding-left: 28px;
padding-right: 28px;
}

.section {
    padding: 80px 0;
}

.link {
    text-decoration: none;
}

.list{
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.secondary-title{
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    
    text-align: center;
    text-transform: capitalize;

    margin-bottom: 24px;
}

.button {
    padding: 10px 35px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}


/* ========== Team section / Mykyta ========== */
.team-section {
    outline: 2px solid tomato;
    color: var(--text-color-light-theme);
}

.team-container {
    text-align: center;
}

.sup-title {
    margin-bottom: var(--row-gap);
    font-size: 20px;
    line-height: 1.65;
}

.team-section-desc {
    margin-bottom: var(--row-gap);
}

.team-list {
    display: flex;
    justify-content: center;
    gap: var(--column-gap);
}

.team-item {
    width: calc((100% - 40px) / 3);

}

.team-desc-thumb {
    padding-top: 20px;
    
}

.team-name {
    margin-bottom: 12px;
}

.team-img-thumb {
    position: relative;
    overflow: hidden;
}

.team-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(-100%);
    transition: transform 250ms ease;
}

.team-img-thumb:hover .team-img-overlay {
     transform: translateY(0);
}

.team-social-list {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(.jpg);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.team-social-img {
    fill: var(--text-color-main);
}